.card-container {
  width: 600px;
  height: 360px;
  margin: 20px 80px;
}

.card {
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
  transform-style: preserve-3d; /* preserve 3d space for back of element */
  transition: transform 0.4s;
  /* transition: 0.15s; */
  /* border-radius: 32px; */
}

/* .card:hover {
  box-shadow: 0 0 5px 2px #00000080;
} */

.card-front,
.card-back {
  backface-visibility: hidden; /* hide back of element during flip */
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  padding: 80px;
}

.card-front {
  /* background-color: #6464b9; */
  color: #fff;
}

.card-back {
  transform: rotateX(180deg); /* rotate back of element 180 degrees */
  background-color: #fff;
}

.flipped {
  --rotate-X: 180deg;
}

.card-front img {
  height: 300px;
  border-radius: 5px;
  margin-top: 8px;
}

.hard {
  background-color: #2d2d71;
}

.medium {
  background-color: #3a3a94;
}

.easy {
  background-color: #6464b9;
}

.category {
  font-size: 18px;
  color: #a8a8ff99;
}
