* {
  outline: 1px solid red;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* body {
  background-image: url("../tuyen-vo-tS-jh0M6JoA-unsplash.jpg");
  background-size: cover;
} */

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.App {
  background-color: #e9e9fc;
  /* padding: 90px 0px; */
  padding-top: 90px;
  padding-bottom: 60px;
  border-radius: 22px;
}

button {
  /* margin-top: 20px; */
  margin: 5px;
}

button:active {
  background-color: #fff;
}
